h1 {
    text-align: center;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px ;
    font-size: 17px;
    padding: 8px;
}
.container {
    background-color: rgb(122, 156, 185);
    padding: 50px 50px 50px;
    border:1px solid gray;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 1px;
}
fieldset{
    background-color: white;
    border: 1px solid gray;
    border-radius: 1px;
}
input[type="submit"],
input[type="reset"] {
    background-color: rgb(92, 131, 92);
    color: rgb(243, 235, 235);
    padding: 12px 22px;
    border:rgba(12, 1, 1, 0.815) ;
    border: 10px;
    length: 10px;
    width: 10px;
    border-radius: 1px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: blue;
}
input[type="reset"]:hover {
    background-color: blue;
}